<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EduClick</title>

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    @await RenderSectionAsync("Styles", required: false)

</head>

<body>
    <!-- CONTENEDOR GLOBAL -->
    <div class="app-container">

        <main class="page-container">
            @RenderBody()
        </main>

    </div>

    <script src="~/js/site.js"></script>

</body>
</html>