@{
    ViewData["Title"] = "Contacto";
}

<link rel="stylesheet" href="~/css/Contactanos.css" />
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

<div class="contenedor">

    <!-- NAVBAR -->
    <header class="navbar">

        <div class="logo">
            <img src="~/CONTACTO/Logo.png" alt="Logo">

            <div>
                <h2>EduClick</h2>
                <p>Aprender es la aventura más emocionante</p>
            </div>
        </div>

        <nav>
            <a asp-controller="Home" asp-action="Index">
                <i class="fa-solid fa-house"></i>
                <span>Inicio</span>
            </a>

            <a asp-controller="Beneficios" asp-action="Index">
                <i class="fa-solid fa-star"></i>
                <span>Beneficios</span>
            </a>

            <a asp-controller="SobreNosotros" asp-action="Index">
                <i class="fa-solid fa-book"></i>
                <span>Nosotros</span>
            </a>

            <a asp-controller="Contacto" asp-action="Index">
                <i class="fa-solid fa-phone"></i>
                <span>Contacto</span>
            </a>

        </nav>

    </header>


    <!-- HERO -->

    <section class="hero">

        <div class="hero-texto">

            <h1>Contácta<span>nos</span></h1>

            <p>
                Estamos aquí para ayudarte.<br>
                En EduClick queremos acompañarte en cada paso
                del aprendizaje. Escríbenos, llámanos o visítanos.
            </p>

        </div>

        <div class="hero-img">
            <img src="~/CONTACTO/tigre contactos.png" alt="">
        </div>

    </section>


    <!-- CONTACTO -->

    <section class="contacto">

        <!-- IZQUIERDA -->

        <div class="info-cards">

            <div class="card">
                <img src="~/CONTACTO/llamanos.png" alt="">
                <h3 class="verde">Llámanos</h3>

                <p>
                    +57 300 123 4567 <br><br>
                    Lunes a Viernes <br>
                    8:00 a.m - 6:00 p.m
                </p>
            </div>


            <div class="card">
                <img src="~/CONTACTO/escribenos.png" alt="">
                <h3 class="azul">Escríbenos</h3>

                <p>
                    <a href="mailito:educlick894@gmail.com">educlick894@gmail.com </a> <br><br>
                    Responderemos lo antes posible.
                </p>
            </div>


            <div class="card">
                <img src="~/imagenes/ubicacion.png" alt="">
                <h3 class="naranja">Visítanos</h3>

                <p>
                    Calle 10 # 20 - 30 <br>
                    Bogotá, Colombia <br><br>
                    ¡Te esperamos!
                </p>
            </div>


            <div class="card">
                <img src="~/CONTACTO/busqueta.png" alt="">
                <h3 class="morado">Síguenos</h3>

                <p>
                    @@educlick.oficial <br><br>

                    <i class="fab fa-facebook"></i>
                    &nbsp;

                    <i class="fab fa-instagram"></i>
                    &nbsp;

                    <i class="fab fa-youtube"></i>
                </p>
            </div>

        </div>


        <!-- FORMULARIO -->

        <div class="formulario">

            <h2>Envíanos un mensaje</h2>

            <div class="inputs">

                <input type="text" placeholder="Nombre completo">

                <input type="email" placeholder="Correo electrónico">

                <input type="text" placeholder="Asunto">

                <textarea placeholder="Escribe tu mensaje"></textarea>

            </div>

            <button>
                Enviar mensaje ✈️
            </button>

        </div>

    </section>


    <!-- FOOTER -->

    <section class="cta">

        <img class="mascota"
             src="~/CONTACTO/tigre 2.png">

        <div class="texto">
            Tu opinión es muy importante para nosotros.
            Juntos hacemos de EduClick un lugar increíble
            para aprender.
        </div>

        <button>
            ¡Comencemos a hablar! 😊
        </button>

        <img class="mochila"
             src="~/CONTACTO/maleta.png">

    </section>

</div>
