@{
    ViewData["Title"] = "EduClick";
    Layout = "_Layout";
}
<link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />

<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />

<div class="home-page">

    <!--=========================================================
                            NAVBAR
    ==========================================================-->

<header class="navbar">

    <!--========================
            LOGO
    =========================-->

    <div class="logo">

        <img src="~/EVIDENCIAS/Logo.png" alt="EduClick">

        <div class="logo-text">

            <h2></h2>

            <p></p>

        </div>

    </div>

    <!--========================
            MENU
    =========================-->

    <nav class="menu">

        <a asp-controller="Home"
           asp-action="Index"
           class="active">

            <i class="fa-solid fa-house"></i>

            Inicio

        </a>

        <a asp-controller="Beneficios"
           asp-action="Index">

            <i class="fa-solid fa-star"></i>

            Beneficios

        </a>

        <a asp-controller="Nosotros"
           asp-action="Index">

            <i class="fa-solid fa-users"></i>

            Nosotros

        </a>

        <a asp-controller="Contactanos"
           asp-action="Index">

            <i class="fa-solid fa-phone"></i>

            Contacto

        </a>

    </nav>

    <!--========================
        BOTONES
    =========================-->

    <div class="actions">

        <div class="menu-login">

            <button class="btn login">

                <i class="fa-solid fa-user"></i>

                Iniciar sesión

                <i class="fa-solid fa-chevron-down"></i>

            </button>

           

            <div class="dropdown">

                <a asp-controller="Usuario"
                   asp-action="Inicio"
                   asp-route-rol="Docente">

                    Docente

                </a>

                <a asp-controller="Alumnos"
                   asp-action="Index"
                   asp-route-rol="Estudiante">

                    Estudiante

                </a>

                <a asp-controller="Usuario"
                   asp-action="Inicio"
                   asp-route-rol="Acudiente">

                    Acudiente

                </a>

                <a asp-controller="Usuario"
                   asp-action="Inicio"
                   asp-route-rol="Rector">

                    Rector

                </a>

                <a asp-controller="Usuario"
                   asp-action="Inicio"
                   asp-route-rol="Administrador">

                    Administrador

                </a>

            </div>

        </div>

        <a asp-controller="Registro"
           asp-action="Index"
           class="btn register">

            <i class="fa-solid fa-user-plus"></i>

            Registrarse

        </a>

    </div>

</header>
</div>
<section class="hero">

    <div class="hero-left">   

        <h1>

                <span>
                    EDU

                    CLICK
                </span>

            <br>

           Explora  y diviértete

        </h1>

        <p>

            Descubre actividades interactivas,
            recursos educativos y juegos
            para aprender todos los días.

        </p>

        <a href="#"
           class="hero-button">

            🚀 ¡Comenzar aventura!

        </a>

        <div class="hero-stats">

            <div>

                <h3>500+</h3>

                <span>Actividades</span>

            </div>

            <div>

                <h3>120+</h3>

                <span>Juegos</span>

            </div>

            <div>

                <h3>100%</h3>

                <span>Diversión</span>

            </div>

        </div>

    </div>

    <div class="hero-right">

        <img src="~/HOME/tigrehomme.png"
             alt="León">

    </div>

</section>