/* =========================
   CONFIGURACIÓN GLOBAL
========================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background: #f8fbff;
    color: #333;
}

/* CONTENEDOR GENERAL */
.container-global {
    width: 92%;
    max-width: 1400px;
    margin: 0 auto;
}

/* ESPACIADOS */
.section-space {
    margin-top: 25px;
    margin-bottom: 25px;
}

/* TARJETAS */
.card-global {
    background: white;
    border-radius: 25px;
    padding: 25px;
    box-shadow: 0 5px 15px rgba(0,0,0,.06);
}

/* BOTONES */
.btn-global {
    border: none;
    border-radius: 15px;
    padding: 14px 22px;
    cursor: pointer;
    transition: .3s;
    font-weight: 600;
}

    .btn-global:hover {
        transform: translateY(-2px);
    }

/* TITULOS */
.title-global {
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 15px;
}
