/* RESET GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CONTENEDOR GLOBAL */
.page-container {
    width: 100%;
    max-width: 1600px; /* mismo ancho para todas */
    margin: 0 auto; /* centra todo */
    padding: 25px; /* mismo espacio interno */
}

/* BODY GLOBAL */
body {
    min-height: 100vh;
    background: #f4f8ff;
}
