@{
    ViewData["Title"] = "Registro de Usuario";
    Layout = null;
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/registro.css" />
</head>
<body>

    <video class="video-fondo" autoplay muted loop>
        <source src="~/imagenes/video_registrar.mp4" type="video/mp4">
    </video>

    <div class="registro">
        <h2>¡REGÍSTRATE!</h2>
        <p>Crea tu cuenta y comienza esta gran aventura.</p>

        @if (ViewBag.Error != null)
        {
            <div class="error-box">@ViewBag.Error</div>
        }
        @if (TempData["Mensaje"] != null)
        {
            <div class="mensaje-popup @(TempData["Tipo"])">
                <span class="cerrar" onclick="this.parentElement.style.display='none'">✖</span>
                <p>@TempData["Mensaje"]</p>
            </div>
        }

        <form asp-controller="Registro" asp-action="Registrar" method="post">
            <input type="text" name="Nombres" placeholder="Nombres" required />
            <input type="text" name="Apellidos" placeholder="Apellidos" required />
            <input type="email" name="Correo" placeholder="Correo" required />
            <input type="password" name="Contrasena" placeholder="Contraseña" required />
            <input type="password" name="ConfirmarContrasena" placeholder="Confirmar Contraseña" required />


            <select name="IdRol" required>
                <option value="">Seleccione un rol</option>
                <option value="4">Estudiante</option>
                <option value="5">Acudiente</option>
            
            </select>

            <div class="contenedor-botones">
                <button type="submit" class="btn-crear">Crear Cuenta</button>
                <a asp-controller="Home" asp-action="Index" class="btn-crear">Volver a Inicio</a>
            </div>
        </form>
    </div>

</body>
</html>